@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;500;600;700&display=swap');

:root{
  --color-text-menu: #06afbe;
  --background-color: #11283a;
}

*{
  box-sizing: border-box;
}

body{
  background: rgb(32,43,60);
  background: linear-gradient(180deg, rgb(32,43,60) 0%, rgb(32,43,60) 65%, rgba(0,110,127,1) 100%);
  /* background: rgb(17,40,58);
  background: linear-gradient(180deg, rgba(17,40,58,1) 0%, rgba(17,40,58,1) 65%, rgba(0,110,127,1) 100%); */
  
  font-family: 'Anybody', cursive;
  font-size: 18px;
  color: #06AFBE;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}

.header{
  padding-top: 50px;
  display: flex;
  height: 100px;
  align-items: center;
}

.logo{
  height: 50px;
}

.nav_menu{
  margin: 0 15px;
  padding: 0;
  display: flex;
  padding-top: 20px;
}

.nav_item{
  list-style: none;
  margin: 0 10px;

}

.nav_link{
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-text-menu);
  font-size: 1em;
}

.lang_box {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}

.lang_link {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-text-menu);
  font-size: 1em;
  margin-left: 3px;
  margin-right: 3px;
}

.resource_link {
  text-decoration: none;
  color: var(--color-text-menu);
  font-size: 1em;
}

.icon-menu{
  margin-top: 15px;
  padding: 10px;
  border-radius: 50%;
  color: var(--background-color);
  background-color: var(--color-text-menu);
}

.hero{
  display: flex;
  justify-content: space-between;
  padding: 75px 0 110px;
}

.hero::before{
  display: inline-block;
  content: "";
  width:439px;
  height: 660px;
  background-size: contain;
  background-image: url(./img/layer-left.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
}

.hero_left{
  display: flex;
  flex-direction: column;
  justify-content: center;;
}

.hero_right{
  display: flex;
  justify-content: end;
  align-items: center;
}

.hero-img{
  display: block;
  width: 400px;
  max-height: 300px;
  margin-bottom: 55px;
}

h1,h2{
  margin: 0;
  color: white;
}

h1{
  font-size: 3em;
}
h2{
  font-size: 2.3em;
  background: #FFFFFF;
  background: #06AFBE;
  background: linear-gradient(to top left, #06AFBE 0%, #FFFFFF 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.hero_p{
  max-width: 550px;
  font-size: 1.3em;
  color: var(--color-text-menu);
  font-weight: 600;
}

.hero_button{
  background-color: white;
  border-radius: 5px;
  padding: 5px 18px;
  width: fit-content;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.icon-button{
  margin-left: 10px;
  font-size: 23px;
  color: var(--background-color);
}

.layer-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  z-index: -1;
}
/*Boxs*/

.box-container{
  /* padding-top: 50px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.box-container::after{
  content: "";
  width:439px;
  height: 740px;
  background-image: url(./img/layer-right.png);
  background-size: cover;
  position: absolute;
  top: 800px;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.box{
  width: 350px;
  height: 330px;
  border-radius: 10px;
  background-color: rgb(20, 29, 39);
  /* padding: 4rem 8rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  /* max-width: 420px; */
}

.box img{
  height: 150px;
}

.box h3{
  color: var(--color-text-menu);
}

/*Questions*/

.questions-container{
  display: flex;
  flex-wrap: wrap;
  gap: 35px 15px;
  justify-content: space-between;
  padding-top: 30px;
}

.questions-box{
  display: flex;
  max-width: 370px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.questions-box:nth-child(2),.questions-box:nth-child(4){
  flex-direction: row-reverse;
}

.circle{
  position: relative;
  min-width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  /* padding: 15px; */
}

.circle::after{
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  top: 22px;
  margin: auto;
}

.circle1::after{
  background-image: url(./img/bitcoin-circle.svg);
  background-size: cover;
  width: 55px;
  height: 55px;
}

.circle2::after{
  background-image: url(./img/lightning.svg);
  background-size: cover;
  width: 55px;
  height: 55px;
}

.circle3::after{
  background-image: url(./img/spy.svg);
  background-size: cover;
  width: 55px;
  height: 55px;
}

.circle4::after{
  background-image: url(./img/people.svg);
  background-size: cover;
  width: 55px;
  height: 55px;
}

.questions-text{
  max-width: 250px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

.human-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.angle{
  width: 110px;
  margin: 40px;
}

.human-box{
  width: 100%;
  max-width: 770px;
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  border-radius: 18px;
  position: relative;
}

.human-text{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  position: relative;
}

.human-box::before{
  content: "";
  width: 5px;
  height: 75%;
  background-color: #a3a3a3;
  position: absolute;
  top: 15px;
  left: 40%;
}

.human-img{
  max-width: 180px;
}

.footer{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: var(--background-color);

  color: white;
}

.footer-container{
  padding: 25px 120px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer_link{
  color: #fff;
}

.footer_icon{
  font-size: 20px;
}

.resources-box {
  margin-top: 100px;
}

@media screen and (max-width:1000px){

  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
  }

  /* .header{
    height: 70px;
    padding-top: 0px;
    justify-content: space-between;
  } */

  .header{
    padding-left: 90px;
  }

  .hero{
    padding-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-img{
    padding-top: 80px;
    padding-bottom: 0;
    max-width: 250px;
    display: block;
    margin: 0 auto ;
  }

  .box-container{
    justify-content: center;
    gap: 60px;
  }

  .footer-container{
    padding: 25px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
}

@media screen and (max-width:850px) {
  .box{
    width: 250px;
    height: 230px;
}

.box img{
  height: 75px;
}

  .questions-container{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    position: relative;
    gap: 20px;
  }

  .questions-box:nth-child(2n+1){
    justify-self: start;
  }

  .questions-box:nth-child(2n){
    justify-self: end;
  }

  .hero::before{
    width: 100%;
   height: 450px;
  }

  .box-container::after{
    top: 1000px;
    width: 100%;
    height: 950px;
  }

  .circle{
    position: relative;
    min-width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    /* padding: 15px; */
  }
  
  .circle::after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 18px;
    margin: auto;
  }
  
  .circle1::after{
    background-image: url(./img/bitcoin-circle.svg);
    background-size: cover;
    top: 16px;
    width: 40px;
    height: 40px;
  }
  
  .circle2::after{
    background-image: url(./img/lightning.svg);
    background-size: cover;
    top: 16px;
    width: 40px;
    height: 40px;
  }
  
  .circle3::after{
    background-image: url(./img/spy.svg);
    background-size: cover;
    top: 16px;
    width: 40px;
    height: 40px;
  }
  
  .circle4::after{
    background-image: url(./img/people.svg);
    background-size: cover;
    top: 16px;
    width: 40px;
    height: 40px;
  }
  .human-text{
    margin: 0;
  }

  .human-box span{
    font-size: 14px;
  }

  .human-box{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 190px;
    text-align: center;
    padding: 30px;
  }

  .human-box::before{
    transform: rotate(90deg);
    width: 2px;
    height: 200px;
    left: 50%;
    top: 5px;
  }
}

@media screen and (min-width:599px) {
  .box-container::after{
    top: 800px;
    width: 439px;
    height: 740px;
  }
}

@media screen and (max-width:375px) {
  .angle{
    margin: 60px;
  }
}

@media screen and (max-width:400px) {
  .hero::before{
    height: 600px;
  }
}

@media screen and (max-width:790px){
  .header{
    padding-left: 0;
  }
}

@media screen and (max-width:520px){
  .header{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav{
    order: 3;
    flex: 100%;
  }

  .nav_item{
    margin: 0 2%;
  }

  .nav_link{
    font-size: 16px;
  }

  .nav_menu{
    margin: 0;
  }

  .hero h2{
    font-size: 2.1em;
  }
}

 @media screen and (min-width:1000px) {
  .box-container{
    justify-content: unset;
  }
  .box{
    width: fit-content;
    padding: 4em;
    margin: 2em;
    flex: auto;
  }

  .box h3{
    width: 193px;
  }

  .box img{
    width: 105px;
  }
 }
